{%- style -%}
  .y-page-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
  @media screen and (min-width: 990px) {
    .y-page-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="tw-relative y-page-section-{{ section.id }}-padding">
  <div class="tw-container tw-px-6 lg:px-4">
    <div class="tw-max-w-[860px] tw-mx-auto tw-rounded-[48px] tw-border tw-border-solid tw-border-gray-200 tw-flex tw-items-center tw-gap-8 tw-p-2 tw-text-iron-gate-300">
      <img src="{{ images['etl-listed-web.png'] | image_url }}" alt="ETL Listed" class="tw-rounded-[48px] tw-w-[83px]" width="83" loading="lazy">
      <p class="tw-h7">{{ section.settings.text | escape }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "ETL Certification Tout",
    "tag": "section",
    "settings": [
      {
        "type": "number",
        "id": "padding_top",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "t:sections.all.padding.padding_bottom",
        "default":  0
      },
      {
        "type": "text",
        "id": "text",
        "label": "Copy",
        "default": "Every Yoshino portable power station comes with full ETL certification."
      }
    ],
    "presets": [
      {
        "name": "ETL Certification Tout"
      }
    ]
  }
{% endschema %}