<footer class="tw-py-20">
  <div class="tw-max-w-screen-xxl tw-mx-auto tw-overflow-hidden tw-px-4">
    <div class="tw-flex tw--mx-4 tw-flex-wrap lg:tw-flex-nowrap tw-gap-y-16">
      <div class="tw-w-full lg:tw-w-3/12 tw-px-4">
        {%- if section.settings.footer_logo != blank -%}
          {%- assign footer_logo_width_2x = section.settings.footer_logo_width | times: 2 | at_most: 2000 -%}
          <img 
            srcset= "{{ section.settings.footer_logo | image_url: width: section.settings.footer_logo_width }}, {{ section.settings.footer_logo | image_url: width: footer_logo_width_2x }} 2x"
            src="{{ section.settings.footer_logo | image_url: width: section.settings.footer_logo_width }}" 
            alt="{{ section.settings.footer_logo.alt | escape }}"
            width="{{ section.settings.footer_logo_width }}"
          >
        {%- endif -%}
      </div>
      <div class="tw-w-full md:tw-w-6/12 lg:tw-w-5/12 tw-px-4 lg:tw-pr-[8.333%]">
        <h4 class="tw-h6">Mailing List</h4>
        <p class="tw-mt-6">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        {%- form 'customer', id: 'ContactFooter-y', class: 'footer__newsletter y-newsletter-form tw-mt-6' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="y-newsletter-form__field-wrapper">
              <div class="field">
                <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="y-newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    {% render 'icon-arrow' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="y-newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="y-newsletter-form__message y-newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
      </div>
      <div class="tw-w-full md:tw-w-6/12 lg:tw-w-4/12 tw-px-4">
        <h4 class="tw-h6">Contact Us</h4>
        <ul class="footer-contact-list tw-w-full tw-block tw-mt-3 tw-text-sm">
          <li class="tw-flex tw-w-full tw-py-3">
            <span class="tw-w-1/2 tw-font-semibold">Phone</span><span><a href="#">+1 (555) 555 1212</a></span>
          </li>
          <li class="tw-flex tw-w-full tw-py-3">
            <span class="tw-w-1/2 tw-font-semibold">Customer Support</span><span><a href="#">+1 (555) 555 1212</a></span>
          </li>
          <li class="tw-flex tw-w-full tw-py-3">
            <span class="tw-w-1/2 tw-font-semibold">Customer Support</span><span><a href="#">+1 (555) 555 1212</a></span>
          </li>
          <li class="tw-flex tw-w-full tw-py-3">
            <span class="tw-w-1/2 tw-font-semibold">Customer Support</span><span><a href="#">+1 (555) 555 1212</a></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-12 tw-gap-8 tw-mt-16 lg:tw-mt-24">
      <div class="lg:tw-col-start-4 lg:tw-col-span-9">
        <span class="tw-h6 tw-font-semibold tw-text-gray-800">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</span>
        <div class="tw-flex tw-flex-wrap md:tw-flex-nowrap tw-justify-between tw-items-center tw-mt-6">
          <ul class="footer-links tw-w-full md:tw-w-auto tw-flex tw-space-x-4 tw-text-gray-800 tw-text-sm tw-font-semibold">
            {%- for link in linklists.footer.links -%}
              <li>{{ link.title | link_to: link.url }}</li>
            {%- endfor -%}
            <li><a href="#">Privacy Policy</a></li>
          </ul>
          <ul class="footer-social-links tw-flex tw-w-full md:tw-w-auto tw-space-x-4 tw-text-gray-800 tw-text-sm tw-font-semibold tw-mt-16 md:tw-mt-0">
            <li>
              <a href="{{ settings.social_facebook_link }}" class="social-icon-link tw-text-gray-900" >
                {%- render 'icon-facebook' -%}
                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</footer>
{% schema %}
  {
    "name": "Custom Footer",
    "settings": [
      {
        "id": "footer_logo",
        "type": "image_picker",
        "label": "Footer Logo"
      },
      {
        "id": "footer_logo_width",
        "type": "range",
        "label": "Footer Logo Width",
        "min": 100,
        "max": 200,
        "step": 1,
        "default": 136
      }
    ]
  }
{% endschema %}