<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<header class="tw-sticky tw-top-0">
  <div class="tw-max-w-screen-xxl tw-mx-auto">
    <nav 
      class="tw-flex tw-flex-col lg:tw-flex-row tw-items-center"
      x-data="{ open: false }" 
      x-effect="document.body.classList.toggle('mobile-nav-open', open)"
    >
      <div class="tw-flex tw-w-full lg:tw-w-auto tw-justify-between">
        <div class="tw-px-4">Yoshino</div>
        <button class="lg:tw-hidden tw-rounded-lg focus:tw-outline-none focus:tw-shadow-outline tw-text-gray-800 tw-px-4" @click="open = !open" @keyup.escape.window="open = false">
    			<svg fill="currentColor" viewBox="0 0 20 20" class="tw-w-6 tw-h-6">
    				<path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
    				<path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
    			</svg>
    		</button>
      </div>
      <div 
        x-transition 
        :class="{'tw-block': open, 'tw-hidden': !open}"
        class="lg:tw-relative lg:tw-block tw-w-full lg:tw-w-auto"
        >
        <div x-popover:group class="tw-flex tw-flex-col lg:tw-flex-row tw-items-start lg:tw-items-center tw-py-2 tw-z-10 tw-bg-b-green-200 lg:tw-bg-transparent">
    
          <div x-data x-popover class="tw-relative tw-flex lg:tw-block tw-flex-col tw-items-start tw-z-10">
            <button x-popover:button type="button" class="tw-flex tw-flex-row tw-items-center tw-gap-2 tw-px-4 tw-py-2.5 tw-text-white lg:tw-text-gray-800 tw-font-bold lg:tw-font-semibold tw-text-5xl lg:tw-text-lg">
              Shop
        
              <!-- Heroicon: chevron-down -->
              <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-5 tw-w-5 tw-text-white lg:tw-text-gray-800" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
        
            <div
              x-popover:panel x-cloak x-transition.origin.top.left
              class="tw-relative lg:tw-absolute tw-left-0 tw-mt-2 tw-w-full lg:tw-w-60 tw-bg-b-green-200 lg:tw-bg-white lg:tw-shadow-md tw-z-10"
              >
              <div x-data="{ active: 0 }" class="tw-mx-auto tw-max-w-3xl">
                <div 
                  x-data="{
                    id: 1,
                    get expanded() {
                    return this.active === this.id
                    },
                    set expanded(value) {
                    this.active = value ? this.id : null
                    },
                  }" 
                  role="region" 
                >
                  <button
                    x-on:click="expanded = !expanded"
                    :aria-expanded="expanded"
                    class="tw-flex tw-w-full tw-items-center tw-justify-between tw-px-4 tw-py-2.5 tw-font-semibold tw-text-white lg:tw-text-gray-800 tw-text-2xl lg:tw-text-sm tw-text-left"
                  >
                    <span>Portable Power</span>
                    <span x-show="expanded" aria-hidden="true" class="tw-ml-4">&minus;</span>
                    <span x-show="!expanded" aria-hidden="true" class="tw-ml-4">&plus;</span>
                  </button>
                  <div x-show="expanded" x-collapse>
                    <div class="tw-px-4 tw-pb-4">
                      <ul class="tw-flex tw-flex-col tw-gap-y-2">
                        <li>
                          <a href="#" class="tw-font-semibold tw-text-white lg:tw-text-gray-800 tw-text-sm">Portable Power Stations</a>
                          <ul>
                            <li><a class="tw-text-white lg:tw-text-gray-800" href="#">P330</a></li>
                            <li><a class="tw-text-white lg:tw-text-gray-800" href="#">P660</a></li>
                            <li><a class="tw-text-white lg:tw-text-gray-800" href="#">P2200</a></li>
                          </ul>
                        </li>
                        <li><a href="#" class="tw-font-semibold tw-text-white lg:tw-text-gray-800 tw-text-sm">Hi-Capacity Power Stations</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div 
                  x-data="{
                    id: 2,
                    get expanded() {
                    return this.active === this.id
                    },
                    set expanded(value) {
                    this.active = value ? this.id : null
                    },
                  }" 
                  role="region" 
                >
                  <button
                    x-on:click="expanded = !expanded"
                    :aria-expanded="expanded"
                    class="tw-flex tw-w-full tw-items-center tw-justify-between tw-px-4 tw-py-2.5 tw-font-semibold tw-text-white lg:tw-text-gray-800 tw-text-2xl lg:tw-text-sm tw-text-left"
                  >
                    <span>Solar Panels</span>
                    <span x-show="expanded" aria-hidden="true" class="tw-ml-4">&minus;</span>
                    <span x-show="!expanded" aria-hidden="true" class="tw-ml-4">&plus;</span>
                  </button>
                  <div x-show="expanded" x-collapse>
                    <div class="tw-px-4 tw-pb-4">
                      <ul class="tw-flex tw-flex-col tw-gap-y-2">
                        <li>
                          <a href="#" class="tw-font-semibold tw-text-white lg:tw-text-gray-800 tw-text-sm">Portable Power Stations</a>
                          <ul>
                            <li><a class="tw-text-white lg:tw-text-gray-800" href="#">P330</a></li>
                            <li><a class="tw-text-white lg:tw-text-gray-800" href="#">P660</a></li>
                            <li><a class="tw-text-white lg:tw-text-gray-800" href="#">P2200</a></li>
                          </ul>
                        </li>
                        <li><a href="#" class="tw-font-semibold tw-text-white lg:tw-text-gray-800 tw-text-sm">Hi-Capacity Power Stations</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div x-data x-popover class="tw-relative tw-flex lg:tw-block tw-flex-col tw-items-start tw-z-10">
            <button x-popover:button type="button" class="tw-flex tw-flex-row tw-items-center tw-gap-2 tw-px-4 tw-py-2.5 tw-text-white lg:tw-text-gray-800 tw-font-bold lg:tw-font-semibold tw-text-5xl lg:tw-text-lg">
              About
        
              <!-- Heroicon: chevron-down -->
              <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-5 tw-w-5 tw-text-white lg:tw-text-gray-800" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
        
            <div
              x-popover:panel x-cloak x-transition.origin.top.left
              class="tw-relative lg:tw-absolute tw-left-0 tw-mt-2 tw-w-60 lg:tw-bg-white lg:tw-shadow-md tw-z-10"
              >
              <a href="#" class="tw-block tw-w-full tw-px-4 tw-py-2.5 tw-text-left lg:hover:tw-bg-gray-50 disabled:tw-text-gray-500 tw-text-white lg:tw-text-gray-800 tw-text-2xl lg:tw-text-sm tw-font-semibold" >
                About Us
              </a>
              <a href="#" class="tw-block tw-w-full tw-px-4 tw-py-2.5 tw-text-left lg:hover:tw-bg-gray-50 disabled:tw-text-gray-500 tw-text-white lg:tw-text-gray-800 tw-text-2xl lg:tw-text-sm tw-font-semibold" >
                Team
              </a>
            </div>
          </div>
    
          <div x-data x-popover class="tw-relative tw-flex lg:tw-block tw-flex-col tw-items-start tw-z-10">
            <button x-popover:button type="button" class="tw-flex tw-flex-row tw-items-center tw-gap-2 tw-px-4 tw-py-2.5 tw-text-white lg:tw-text-gray-800 tw-font-bold lg:tw-font-semibold tw-text-5xl lg:tw-text-lg">
              Support
        
              <!-- Heroicon: chevron-down -->
              <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-5 tw-w-5 tw-text-white lg:tw-text-gray-800" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
        
            <div
              x-popover:panel x-cloak x-transition.origin.top.left
              class="tw-relative lg:tw-absolute tw-left-0 tw-mt-2 tw-w-60 tw-bg-white tw-shadow-md tw-z-10"
              >
              <a href="#" class="tw-block tw-w-full tw-px-4 tw-py-2.5 tw-text-left tw-text-sm hover:tw-bg-gray-50 disabled:tw-text-gray-500 tw-text-gray-800 tw-font-semibold" >
                FAQs
              </a>
              <a href="#" class="tw-block tw-w-full tw-px-4 tw-py-2.5 tw-text-left tw-text-sm hover:tw-bg-gray-50 disabled:tw-text-gray-500 tw-text-gray-800 tw-font-semibold" >
                User Manuals
              </a>
              <a href="#" class="tw-block tw-w-full tw-px-4 tw-py-2.5 tw-text-left tw-text-sm hover:tw-bg-gray-50 disabled:tw-text-gray-500 tw-text-gray-800 tw-font-semibold" >
                Warranty / Returns
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tw-ml-auto tw-px-4 tw-hidden lg:tw-flex lg:tw-flex-row">
        <details-modal class="header__search">
          <details>
            <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
              <span>
                <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-search">
                </svg>
                <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </span>
            </summary>
            <div class="search-modal modal__content gradient tw-z-20" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
              <div class="modal-overlay"></div>
              <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
                {%- if settings.predictive_search_enabled -%}
                  <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                {%- endif -%}
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <div class="field">
                      <input class="search__input field__input"
                        id="Search-In-Modal"
                        type="search"
                        name="q"
                        value=""
                        placeholder="{{ 'general.search.search' | t }}"
                        {%- if settings.predictive_search_enabled -%}
                          role="combobox"
                          aria-expanded="false"
                          aria-owns="predictive-search-results-list"
                          aria-controls="predictive-search-results-list"
                          aria-haspopup="listbox"
                          aria-autocomplete="list"
                          autocorrect="off"
                          autocomplete="off"
                          autocapitalize="off"
                          spellcheck="false"
                        {%- endif -%}
                      >
                      <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                        <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                          <use href="#icon-search">
                        </svg>
                      </button>
                    </div>
  
                    {%- if settings.predictive_search_enabled -%}
                      <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                        <div class="predictive-search__loading-state">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </div>
  
                      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                    {%- endif -%}
                  </form>
                {%- if settings.predictive_search_enabled -%}
                  </predictive-search>
                {%- endif -%}
                <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                  <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                    <use href="#icon-close">
                  </svg>
                </button>
              </div>
            </div>
          </details>
        </details-modal>
        
        {%- if shop.customer_accounts_enabled -%}
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
            {% render 'icon-account' %}
            <span class="visually-hidden">
              {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%}
            </span>
          </a>
        {%- endif -%} 
        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
          {%- liquid
            if cart == empty
              render 'icon-cart-empty'
            else
              render 'icon-cart'
            endif
          -%}
          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
          {%- if cart != empty -%}
            <div class="cart-count-bubble">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}
        </a>
      </div>
    </nav>
  </div>
</header>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>
{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Custom Header",
  "class": "tw-sticky tw-top-0 tw-bg-white tw-z-20",
  "settings": []
}
{% endschema %}