{%- style -%}
  .y-page-hero-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .y-hero-{{ section.id }}-gradient-overlap {
    height: calc( 100% + {{ section.settings.gradient_overlap_sm }}px );
  }

  @media screen and (min-width: 990px) {
    .y-page-hero-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .y-hero-{{ section.id }}-gradient-overlap {
      height: calc( 100% + {{ section.settings.gradient_overlap_lg }}px );
    }
  }
{%- endstyle -%}
<div class="y-page-hero tw-relative tw-w-full y-page-hero-{{ section.id }}-padding">
  <span class="tw-absolute tw-inset-0 tw-z-0 bg-gray-gradient-1 tw-w-full y-hero-{{ section.id }}-gradient-overlap tw-min-h-full"></span>
  <div class="tw-container tw-relative tw-z-10 tw-px-6 lg:tw-px-4">
    <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-8 tw-items-center">
      <div 
        class="tw-text-left tw-space-y-4 tw-order-2 lg:tw-order-1"
      >
        {%- if section.settings.hero_header != blank -%}
          <h1 
            class="
            tw-text-white 
            tw-hxl"
          >
            {{ section.settings.hero_header }}
          </h1>
        {%- endif -%}
        {%- if section.settings.hero_text != blank -%}
          <div class="tw-space-y-4 tw-text-base lg:tw-text-xl tw-text-white">
            {{ section.settings.hero_text }}
          </div>
        {%- endif -%}
      </div>
      <div class="tw-order-1 lg:tw-order-2">
        <img src="https://via.placeholder.com/1040x660" alt="">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Image Hero",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "hero_header",
      "label": "Header"
    },
    {
      "type": "textarea",
      "id": "hero_text",
      "label": "Copy"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 156
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 156
    },
    {
      "type": "number",
      "id": "gradient_overlap_lg",
      "label": "Gradient overlap desktop",
      "default": 96
    },
    {
      "type": "number",
      "id": "gradient_overlap_sm",
      "label": "Gradient overlap mobile",
      "default": 320
    }
  ],
  "presets": [
    {
      "name": "Custom Image Hero"
    }
  ]
}
{% endschema %}