{{ 'y-section-image-text-column.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .y-page-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
  @media screen and (min-width: 990px) {
    .y-page-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="image-w-text-cols tw-relative tw-block y-page-section-{{ section.id }}-padding">

  <div class="tw-container tw-mx-auto">
    {%- if section.settings.intro_headline or section.settings.intro_text  != blank -%}
    <div class="lg:tw-max-w-full lg:max-w-prose xl:tw-w-2/3 tw-mb-16 tw-px-6 lg:tw-px-4 tw-text-center tw-mx-auto">
      {%- if section.settings.intro_headline != blank -%}
        <h2 class="tw-h{{ section.settings.headline_size }} tw-text-gray-800">{{ section.settings.intro_headline }}</h2>
      {%- endif -%}
      {%- if section.settings.intro_text != blank -%}
        <div class="tw-text-{{ section.settings.intro_text_size }} tw-space-y-4 tw-mt-4">
          {{ section.settings.intro_text }}
        </div>
      {%- endif -%}
    </div>
    {%- endif -%}
    <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-8 lg:tw-px-4 {% if section.settings.content_align == 'middle' %}tw-items-center{% endif %}">

      <div class="tw-text-center lg:tw-text-left">
        {%- if section.settings.image != blank -%}
          <img
            srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
            src="{{ section.settings.image | image_url: width: 688 }}"
            sizes="(min-width: 990px) {{ section.settings.image.width | divided_by: 2 }}px, 100vw"
            alt="{{ section.settings.image.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
            class="tw-mx-auto lg:tw-mx-0"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>

      <div class="tw-px-6 lg:tw-px-0">
        <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-x-8 tw-gap-y-12">

          {% for block in section.blocks %}  
            {% case block.type %}
              {% when 'column' %}
              <div class="tw-space-y-4">
                <img 
                  src="{{ block.settings.column_image | image_url }}" 
                  alt="{{ block.settings.columns_image.alt | escape }}" 
                  width="{{ block.settings.column_image.width | divided_by: 2 }}"
                  height="{{ block.settings.column_image.height | divided_by: 2 }}"
                  loading="lazy"
                >
                <h3 class="tw-text-2xl">{{ block.settings.column_headline | escape }}</h3>
                {{ block.settings.column_copy }}
              </div>
            {% endcase %} 
          {% endfor %}

        </div>
        <a href="#" class="button tw-mt-12">{{ section.settings.button_cta | escape }}</a>
      </div>

    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Image with text columns",
    "class": "section",
    "settings": [
      {
        "id": "intro_headline",
        "type": "text",
        "label": "Intro Headline"
      },
      {
        "type": "select",
        "id": "headline_size",
        "label": "Headline Size",
        "options": [
          {
            "value": "2",
            "label": "Headline 2"
          },
          {
            "value": "3",
            "label": "Headline 3"
          },
          {
            "value": "4",
            "label": "Headline 4"
          },
          {
            "value": "5",
            "label": "Headline 5"
          },
          {
            "value": "6",
            "label": "Headline 6"
          }
        ],
        "default": "3"
      },
      {
        "id": "intro_text",
        "type": "textarea",
        "label": "Intro Text"
      },
      {
        "type": "select",
        "id": "intro_text_size",
        "label": "Intro Text Size",
        "options": [
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "base",
            "label": "Medium"
          }
        ],
        "default": "base"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "button_link",
        "type": "url",
        "label": "Button Link"
      },
      {
        "id": "button_cta",
        "type": "text",
        "label": "Button CTA"
      },
      {
        "id": "content_align",
        "type": "select",
        "label": "Content align",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "middle",
            "label": "Middle"
          }
        ],
        "default": "top"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "t:sections.all.padding.padding_bottom",
        "default":  0
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
          {
            "id": "column_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "column_headline",
            "type": "text",
            "label": "Column Headline",
            "default": "Headline 3"
          },
          {
            "id": "column_copy",
            "type": "richtext",
            "label": "Column Copy",
            "default": "<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text columns"
      }
    ]
  }
{% endschema %}