{{ 'y-section-image-text-column.css' | asset_url | stylesheet_tag }}

<div class="image-w-text-cols tw-relative tw-block">

  <div class="tw-container tw-mx-auto">
    <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-8 {% if section.settings.content_align == 'middle' %}tw-items-center{% endif %}">

      <div>
        <img src="https://via.placeholder.com/800x800" alt="">
      </div>

      <div>
        <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-8">

          {% for block in section.blocks %}  
            {% case block.type %}
              {% when 'column' %}
              <div class="tw-space-y-4">
                <img src="https://via.placeholder.com/50x50" alt="{{ block.settings.columns_image.alt }}">
                <h3 class="tw-text-2xl">{{ block.settings.column_headline | escape }}</h3>
                {{ block.settings.column_copy }}
              </div>
            {% endcase %} 
          {% endfor %}

        </div>
        <a href="#" class="button tw-mt-12">{{ section.settings.button_cta | escape }}</a>
      </div>

    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Image with text columns",
    "class": "section",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "button_link",
        "type": "url",
        "label": "Button Link"
      },
      {
        "id": "button_cta",
        "type": "text",
        "label": "Button CTA"
      },
      {
        "id": "content_align",
        "type": "select",
        "label": "Content align",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "middle",
            "label": "Middle"
          }
        ],
        "default": "top"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
          {
            "id": "column_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "column_headline",
            "type": "text",
            "label": "Column Headline",
            "default": "Headline 3"
          },
          {
            "id": "column_copy",
            "type": "richtext",
            "label": "Column Copy",
            "default": "<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo.<p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text columns"
      }
    ]
  }
{% endschema %}