{%- style -%}
  .y-page-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
  .y-page-section-{{ section.id }}-bg-color {
    background-color: {{ section.settings.bg_color }}
  }
  @media screen and (min-width: 990px) {
    .y-page-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div {% if section.settings.custom_id != blank %}id="{{ section.settings.custom_id }}"{% endif %} class="tw-relative y-page-section-{{ section.id }}-padding">
  <div class="tw-bg-[#23312C] tw-py-24 bg-product-features-hero">
    <div class="tw-container tw-px-6 lg:tw-px-4 ">
      <div class="tw-flex tw-items-center tw-justify-center">
        <img
          srcset="
            {{ product.metafields.pps.zone_1_product_image | img_url: '600x' }} 600w,
            {{ product.metafields.pps.zone_1_product_image | img_url: 'master' }} 1200w
          "
          src="{{ product.metafields.pps.zone_1_product_image | img_url: 'master' }}"
          sizes="(min-width: 990px) 1200px, 100vw"
          loading="lazy"
          width="1200"
          height="auto"
        >
      </div>
      <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-8 tw-mt-12">
        
        <div class="tw-space-y-4 tw-text-{{ section.settings.paragraph_size }} tw-text-white">
          <div class="y-product-features-icon">
            {% render 'y-icon-battery' %}
          </div>
          <h3 
            class="tw-text-white tw-h{{ section.settings.headline_size }}"
          >
            {{ product.metafields.pps.zone_1a_headline }}
          </h3>
          <div>{{ product.metafields.pps.zone_1a_copy }}</div>
        </div>

        <div class="tw-space-y-4 tw-text-{{ section.settings.paragraph_size }} tw-text-white">
          <div class="y-product-features-icon">
            {% render 'y-icon-bolt' %}
          </div>
          <h3 
            class="tw-text-white tw-h{{ section.settings.headline_size }}"
          >
            {{ product.metafields.pps.zone_1b_headline }}
          </h3>
          <div>{{ product.metafields.pps.zone_1b_copy }}</div>
        </div>

        <div class="tw-space-y-4 tw-text-{{ section.settings.paragraph_size }} tw-text-white">
          <div class="y-product-features-icon">
            {% render 'y-icon-stopwatch' %}
          </div>
          <h3 
            class="tw-text-white tw-h{{ section.settings.headline_size }}"
          >
            {{ product.metafields.pps.zone_1c_headline }}
          </h3>
          <div>{{ product.metafields.pps.zone_1c_copy }}</div>
        </div>

      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product - Features Hero",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "custom_id",
        "label": "Custom id for anchor links",
        "default": "overview"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "t:sections.all.padding.padding_bottom",
        "default":  0
      },
      {
        "type": "select",
        "id": "headline_size",
        "label": "Headline Size",
        "options": [
            {
              "value": "5",
              "label": "Headline 5"
            },
            {
              "value": "6",
              "label": "Headline 6"
            }
          ],
          "default": "5"
      },
      {
        "type": "select",
        "id": "paragraph_size",
        "label": "Paragraph Size",
        "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Medium"
            }
          ],
          "default": "base"
      }
    ],
    "presets": [
      {
        "name": "Product - Features Hero"
      }
    ]
  }
{% endschema %}