{%- style -%}
  .y-page-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
  .y-prod-tech-spec {
    padding: 2.4rem 0;
    border-top: 1px solid rgb(229 231 235);
  }
  .y-prod-tech-spec .y-spec-title {
    color: rgb(31 41 55);
    margin: 0 0 0.8rem 0;
  }
  @media screen and (min-width: 990px) {
    .y-page-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .y-prod-tech-spec:first-child {
      border-top: 0;
    }
  }
{%- endstyle -%}

<div {% if section.settings.custom_id != blank %}id="{{ section.settings.custom_id }}"{% endif %} class="tw-relative y-page-section-{{ section.id }}-padding">
  <div class="tw-container tw-px-6 lg:px-4">
    <h2 class="tw-text-center tw-h4">Tech Specs</h2>
    <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-x-8 tw-mt-16">
      <div>
        <ul class="y-prod-spec-list">
          <li class="y-prod-tech-spec !tw-border-t-0">
            <h6 class="y-spec-title tw-h7">Net Weight</h6>
            {{ product.variants.first.weight | weight_with_unit }} / 
            {{ product.variants.first.weight | weight | times: 0.453592 | round: 2 }} kg
          </li>
          {%- if product.metafields.pps.ts_power.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">Power</h6>
            {{ product.metafields.pps.ts_power.value | escape }}
          </li>
          {%- endif -%}
          {%- if product.metafields.pps.ts_wifi_bluetooth.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">WiFi & Bluetooth</h6>
            {{ product.metafields.pps.ts_wifi_bluetooth | escape }}
          </li>
          {%- endif -%}
          {%- if product.metafields.pps.ts_user_manual.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">User Manual</h6>
            <a href="{{ product.metafields.pps.ts_user_manual }}" class="tw-underline hover:tw-no-underline">Download here</a>
          </li>
          {%- endif -%}
        </ul>
      </div>
      <div>
        <ul class="y-prod-spec-list">
          {%- if product.metafields.pps.ts_dimensions.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">Dimensions</h6>
             {{ product.metafields.pps.ts_dimensions | escape }}
          </li>
          {%- endif -%}
          {%- if product.metafields.pps.ts_cell.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">Cell</h6>
            {{ product.metafields.pps.ts_cell | escape }}
          </li>
          {%- endif -%}
          {%- if product.metafields.pps.ts_full_recharge_time.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">Full Recharge Time</h6>
             {{ product.metafields.pps.ts_full_recharge_time | escape }}
          </li>
          {%- endif -%}
          {%- if product.metafields.pps.ts_in_the_box.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">In the Box</h6>
            {{ product.metafields.pps.ts_in_the_box | escape }}
          </li>
          {%- endif -%}
        </ul>
      </div>
      <div>
        <ul class="y-prod-spec-list">
           {%- if product.metafields.pps.ts_capacity.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">Capacity</h6>
            {{ product.metafields.pps.ts_capacity | escape }}
          </li>
          {%- endif -%}
          {%- if product.metafields.pps.ts_cycles.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">Cycles</h6>
            {{ product.metafields.pps.ts_cycles | escape }}
          </li>
          {%- endif -%}
          {%- if product.metafields.pps.ts_rv30a.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">RV 30A</h6>
            {{ product.metafields.pps.ts_rv30a | escape }}
          </li>
          {%- endif -%}
          {%- if product.metafields.pps.ts_warranty.value != blank -%}
          <li class="y-prod-tech-spec">
            <h6 class="y-spec-title tw-h7">Warranty</h6>
            {{ product.metafields.pps.ts_warranty | escape }}
          </li>
          {%- endif -%}
        </ul>
      </div>
    </div>
    {% comment %} <div class="tw-text-center tw-mt-12">
      <a href="#" class="tw-btn tw-btn-hollow tw-btn-hollow-green tw-uppercase">View All Specs</a>
    </div> {% endcomment %}
  </div>
</div>

{% schema %}
  {
    "name": "Product Tech Specs",
    "tag": "section",
    "settings": [
      {
        "type": "number",
        "id": "padding_top",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "t:sections.all.padding.padding_bottom",
        "default":  0
      },
      {
        "type": "text",
        "id": "custom_id",
        "label": "Custom id for anchor links",
        "default": "tech-specs"
      }
    ],
    "presets": [
      {
        "name": "Product Tech Specs"
      }
    ]
  }
{% endschema %}