{%- style -%}
  .y-page-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
  .y-page-section-{{ section.id }}-bg-color {
    background-color: {{ section.settings.bg_color }}
  }
  @media screen and (min-width: 990px) {
    .y-page-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .pps-ideal-icon {
    max-width:200px;
    margin:0 auto;
    margin-bottom:-5%;
  }
  .pps-ideal-icon svg {
    width: 100%;
    height: auto;
  }
  .ideal-for-tabs-container {
    background: -o-linear-gradient(349.84deg, #525E5A 0%, #2C3431 98.44%);
    background: linear-gradient(100.16deg, #525E5A 0%, #2C3431 98.44%);
  }
{%- endstyle -%}
{%- if product.metafields.pps.ideal_for_home.value != blank or product.metafields.pps.ideal_for_offgrid.value != blank or product.metafields.pps.ideal_for_professional.value != blank -%}
<div 
  {% if section.settings.custom_id != blank %}
  id="{{ section.settings.custom_id }}"
  {% endif %} 
  class="y-page-section-{{ section.id }}-padding"
>
  <div class="tw-py-24 ideal-for-tabs-container">
    <div class="tw-container tw-px-6 lg:tw-px-4 tw-text-center">
      <h2 class="tw-h3 tw-text-white">Ideal For</h2>
      <div x-data x-tabs class="tw-mt-8">
        <div x-tabs:list class="tw--mb-px tw-flex tw-items-stretch tw-gap-8 tw-justify-center">
          {%- if product.metafields.pps.ideal_for_home.value != blank -%}
          <button x-tabs:tab type="button"
            :class="$tab.isSelected ? 'tw-border-bee-green-200 hover:tw-border-bee-green-200' : 'tw-border-transparent'"
            class="tw-inline-flex tw-border-b-4 tw-py-2.5  tw-font-semibold tw-h7 tw-text-white hover:tw-border-bee-green-300"
          >Home</button>
          {%- endif -%}
          {%- if product.metafields.pps.ideal_for_offgrid.value != blank -%}
          <button x-tabs:tab type="button"
            :class="$tab.isSelected ? 'tw-border-bee-green-200 hover:tw-border-bee-green-200' : 'tw-border-transparent'"
            class="tw-inline-flex tw-border-b-4 tw-py-2.5  tw-font-semibold tw-h7 tw-text-white hover:tw-border-bee-green-300"
          >Off Grid</button>
          {%- endif -%}
          {%- if product.metafields.pps.ideal_for_professional.value != blank -%}
          <button x-tabs:tab type="button"
            :class="$tab.isSelected ? 'tw-border-bee-green-200 hover:tw-border-bee-green-200' : 'tw-border-transparent'"
            class="tw-inline-flex tw-border-b-4 tw-py-2.5  tw-font-semibold tw-h7 tw-text-white hover:tw-border-bee-green-300"
          >Professional</button>
          {%- endif -%}
        </div>
        <div x-tabs:panels class="tw-mt-8">
          {%- if product.metafields.pps.ideal_for_home.value != blank -%}
          <section x-tabs:panel>
            <div class="tw-flex tw-flex-wrap tw--mx-4 tw-justify-center tw-gap-y-8">
              {% for item in product.metafields.pps.ideal_for_home.value %}
              {% assign icon = 'icon-ideal-' | append: item.icon %}
              {% assign title = item.title %}
              {% assign charges = item.charges %}
              {% assign wattage = item.wattage %}
              <div class="tw-w-1/2 sm:tw-w-1/3 lg:tw-w-1/5 tw-px-4">
                <div class="pps-ideal-icon">
                {%- include icon -%}
                </div>
                <h4 class="tw-text-gray-50 tw-text-[2.4rem]">{{ title }}</h4>
                <span class="tw-block tw-text-gray-50 tw-text-[2rem]">{{ charges }}</span>
                <span class="tw-text-iron-gate-100">{{ wattage }}</span>
              </div>
              {% endfor %}
            </div>
          </section>
          {%- endif -%}
          {%- if product.metafields.pps.ideal_for_offgrid.value != blank -%}
          <section x-tabs:panel>
            <div class="tw-flex tw-flex-wrap tw--mx-4 tw-justify-center tw-gap-y-8">
              {% for item in product.metafields.pps.ideal_for_offgrid.value %}
              {% assign icon = 'icon-ideal-' | append: item.icon %}
              {% assign title = item.title %}
              {% assign charges = item.charges %}
              {% assign wattage = item.wattage %}
              <div class="tw-w-1/2 sm:tw-w-1/3 lg:tw-w-1/5 tw-px-4">
                <div class="pps-ideal-icon">
                {%- include icon -%}
                </div>
                <h4 class="tw-text-gray-50 tw-text-[2.4rem]">{{ title }}</h4>
                <span class="tw-block tw-text-gray-50 tw-text-[2rem]">{{ charges }}</span>
                <span class="tw-text-iron-gate-100">{{ wattage }}</span>
              </div>
              {% endfor %}
            </div>
          </section>
          {%- endif -%}
          {%- if product.metafields.pps.ideal_for_professional.value != blank -%}
          <section x-tabs:panel>
            <div class="tw-flex tw-flex-wrap tw--mx-4 tw-justify-center tw-gap-y-8">
              {% for item in product.metafields.pps.ideal_for_professional.value %}
              {% assign icon = 'icon-ideal-' | append: item.icon %}
              {% assign title = item.title %}
              {% assign charges = item.charges %}
              {% assign wattage = item.wattage %}
              <div class="tw-w-1/2 sm:tw-w-1/3 lg:tw-w-1/5 tw-px-4">
                <div class="pps-ideal-icon">
                {%- include icon -%}
                </div>
                <h4 class="tw-text-gray-50 tw-text-[2.4rem]">{{ title }}</h4>
                <span class="tw-block tw-text-gray-50 tw-text-[2rem]">{{ charges }}</span>
                <span class="tw-text-iron-gate-100">{{ wattage }}</span>
              </div>
              {% endfor %}
            </div>
          </section>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}
{% schema %}
  {
    "name": "Product Ideal For",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "custom_id",
        "label": "Custom id for anchor links",
        "default": "ideal-for"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#40A828"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "t:sections.all.padding.padding_bottom",
        "default":  0
      }
    ],
    "presets": [
      {
        "name": "Product Ideal For"
      }
    ]
  }
{% endschema %}