{% style %}
  .y-page-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
  @media screen and (min-width: 990px) {
    .y-page-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .product-multiple-ways-to-charge {
    background: -o-linear-gradient(100.16deg, #3DA525 0%, #168C1B 100%);
    background: linear-gradient(100.16deg, #3DA525 0%, #168C1B 100%);
  }
  .pmwc-icon {
    max-width: 206px;
    margin: 0 auto;
    margin-bottom: -5%;
  }
  .pmwc-icon svg {
    width: 100%;
    height: auto;
  }
{% endstyle %}
{%- if product.metafields.pps.multiple_ways_to_charge.value != blank -%}
<div 
  {% if section.settings.custom_id != blank %}
  id="{{ section.settings.custom_id }}"
  {% endif %} 
  class="y-page-section-{{ section.id }}-padding"
>
  <div class="tw-py-24 product-multiple-ways-to-charge">
    <div class="tw-container tw-px-6 lg:tw-px-4 tw-text-center">
      <h2 class="tw-h4 tw-text-white">Multiple Ways to Charge</h2>
      <div class="tw-flex tw-flex-wrap tw--mx-4 tw-justify-center tw-gap-y-8 tw-mt-14">
        {% for item in product.metafields.pps.multiple_ways_to_charge.value %}
          {% assign icon = 'icon-multiple-' | append: item.icon %}
          {% assign title = item.title %}
          {% assign charges = item.hours %}
          {% assign wattage = item.wattage %}
          <div class="tw-w-1/2 lg:tw-w-1/5 tw-px-4">
            <div class="pmwc-icon">
              {%- include icon -%}
            </div>
            <h4 class="tw-text-gray-50 tw-text-[2.4rem]">{{ title }}</h4>
            {%- if title == 'Solar Panel' -%}
            <span class="tw-block tw-text-gray-50 tw-font-semibold">(Optional)</span>
            {%- endif -%}
            <span class="tw-block tw-text-gray-50 tw-text-[2rem]">{{ charges }}</span>
            {%- if wattage != blank -%}
            <span class="tw-text-gray-50">{{ wattage }}</span>
            {%- endif -%}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{%- endif -%}
{% schema %}
  {
    "name": "Product - Ways to charge",
    "settings": [
      {
        "type": "number",
        "id": "padding_top",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "t:sections.all.padding.padding_bottom",
        "default":  0
      }
    ],
    "presets": [
      {
        "name": "Product - Ways to Charge"
      }
    ]
  }
{% endschema %}